<nav>
    <div class="site-title">
    
      <a href="/"><h2>university enrollment</h2></a>
  
    </div>
    <ul>
      <li><a href="/">universities</a></li>
      <li><a href="/createStuedent">Create Stuedent</a></li>
      <li><a href="/createUniversity">Create University</a></li>
      <li><a href="/universityEnroll">Enroll To University</a></li>
      <li><a href="/universityAllStudent">Get All Student</a></li>
    </ul>
  </nav>