<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="University content">
    <h2>Click on the university you would like to enroll in</h2>
    <% if (university.length > 0) { %>
      <% university.forEach(university => { %>
        <a class="single" href="/universityEnroll/<%= university._id %>">
          <h3 class="title"><%= university.name %></h3>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no universities to display...</p>
    <% } %>
    
  </div>

</body>
</html>